---
import Layout from '../layouts/layout.astro';
import { Counter } from '../components/counter'
import { Input } from '../components/input';
---

<Layout>
    <Counter />
    <Input />
    <a href="/">Back home</a>
</Layout>